permissive system_server;

allow system_server sysfs_kgsl:file r_file_perms;

# Allow system_server to set persist_camera_prop
get_prop(system_server, vendor_camera_prop)
