allow untrusted_app sysfs_kgsl:dir search;
allow untrusted_app sysfs_kgsl:file r_file_perms;
allow untrusted_app sysfs_graphics:dir search;
allow untrusted_app sysfs_graphics:file r_file_perms;
get_prop(untrusted_app, vendor_camera_prop);
