permissive vendor_init;

# Allow vendor_init to set vendor_camera_prop
set_prop(vendor_init, vendor_camera_prop)
allow vendor_init persist_file:lnk_file read;
allow vendor_init persist_debug_prop:file read;
allow vendor_init system_file:file getattr;
