on post-fs && property:ro.product.device=karna
    mount none /dev/null /system/app/NfcNci/NfcNci.apk bind
    mount none /dev/null /vendor/etc/permissions/android.hardware.nfc.xml bind
    mount none /dev/null /vendor/etc/permissions/android.hardware.nfc.hce.xml bind
    mount none /dev/null /vendor/etc/permissions/android.hardware.nfc.hcef.xml bind
    mount none /dev/null /vendor/etc/permissions/android.hardware.nfc.uicc.xml bind
    setprop ro.power_profile.override power_profile_karna

on init 
    chown system system /sys/devices/platform/soc/soc:qcom,dsi-display/dsi_display_hbm
    chown system system /sys/devices/platform/soc/soc:qcom,dsi-display/dsi_display_cabc
    chown system system /sys/devices/platform/soc/soc:qcom,dsi-display/dsi_display_cabc_movie
    chown system system /sys/devices/platform/soc/soc:qcom,dsi-display/dsi_display_cabc_still  

on property:ro.boot.hwc=*
    setprop vendor.boot.hwc ${ro.boot.hwc}   

on property:init.svc.vendor.cnss_diag=running
    stop vendor.cnss_diag

on property:init.svc.vendor.tcpdump=running
    stop vendor.tcpdump

on property:persist.sys.device_provisioned=1
    setprop dalvik.vm.dex2oat-cpu-set 0,1,2,3,4,5,7
    setprop dalvik.vm.dex2oat-threads 6

# perf tuning
on property:vendor.post_boot.parsed=1
    # Setup runtime cpusets
    write /dev/cpuset/top-app/cpus 0-7
    write /dev/cpuset/foreground/cpus 0-5,7
    write /dev/cpuset/background/cpus 4-5
    write /dev/cpuset/system-background/cpus 2-5
    write /dev/cpuset/restricted/cpus 2-5

    # Setup default schedTune value for foreground/top-app
    write /dev/stune/foreground/schedtune.prefer_idle 1
    write /dev/stune/top-app/schedtune.boost 5
    write /dev/stune/top-app/schedtune.prefer_idle 1

    # Setup dynamic stune boost
    write /sys/module/cpu_boost/parameters/dynamic_stune_boost 15
    write /sys/module/cpu_boost/parameters/dynamic_stune_boost_ms 1000
    write /dev/stune/top-app/schedtune.sched_boost 15

    # Setup schedutil ratelimits
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/up_rate_limit_us 500
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/down_rate_limit_us 20000
    write /sys/devices/system/cpu/cpu6/cpufreq/schedutil/up_rate_limit_us 500
    write /sys/devices/system/cpu/cpu6/cpufreq/schedutil/down_rate_limit_us 20000

    # Enable schedutil predicted-load boosting
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/pl 1
    write /sys/devices/system/cpu/cpu6/cpufreq/schedutil/pl 1

    # Reinit lmkd to reconfigure lmkd properties
    setprop lmkd.reinit 1

    # EAS
    write /proc/sys/kernel/sched_upmigrate 95
    write /proc/sys/kernel/sched_downmigrate 85
