on post-fs && property:ro.product.device=karna
    mount none /dev/null /system/app/NfcNci/NfcNci.apk bind
    setprop ro.power_profile.override power_profile_karna

on init 
    chown system system /sys/devices/platform/soc/soc:qcom,dsi-display/dsi_display_hbm
    chown system system /sys/devices/platform/soc/soc:qcom,dsi-display/dsi_display_cabc
    chown system system /sys/devices/platform/soc/soc:qcom,dsi-display/dsi_display_cabc_movie
    chown system system /sys/devices/platform/soc/soc:qcom,dsi-display/dsi_display_cabc_still  

on property:ro.boot.hwc=*
    setprop vendor.boot.hwc ${ro.boot.hwc}   

on property:init.svc.vendor.cnss_diag=running
    stop vendor.cnss_diag

on property:init.svc.vendor.tcpdump=running
    stop vendor.tcpdump

on property:persist.sys.device_provisioned=1
    setprop dalvik.vm.dex2oat-cpu-set 0,1,2,3,4,5,7
    setprop dalvik.vm.dex2oat-threads 6
